natsort
ujson
requests
urllib3
torch == 1.8.1
torchvision
numpy
six
kornia
albumentations
git+https://github.com/qubvel/segmentation_models.pytorch
pandas
scipy
scikit-image
scikit_learn
numpy
SimpleITK
joblib
tqdm
openpyxl
matplotlib
seaborn
wandb
torchmetrics
torchsummary
monai >= 0.7.0
pytorch_lightning
https://github.com/VincentStimper/mclahe/archive/numpy.zip
